**/__pycache__
more-scenarios/medical/ACDC
**/__MACOSX
more-scenarios/medical/outputs/out
more-scenarios/medical/outputs/results/ukbb_pred_mask.png
more-scenarios/medical/outputs/results/imgs
more-scenarios/medical/ukbb